.slider_item1{
    background: url("../assets/img/prevput1.jpg");
}

.slider_item2{
    background: url("../assets/img/prevput2.jpg");
}

.slider_item3{
    background: url("../assets/img/prevput3.jpg");
}